@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,900');
@import url('https://fonts.googleapis.com/css?family=Suez+One');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:700i');

html, body{
	height : 100%;
}

body
{
	position : relative;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 18px;
	margin : 0;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.btn-group-lg>.btn, .btn-lg {
    /* padding: 20px 40px; */
    font-size: 15px;
    line-height: 1.5;
    border-radius: 50px;
    font-weight: bolder;
}
#div1{
	position:relative;
}


.bg-light
{
    background-color: transparent !important;
    padding: 1.5rem 0;
    z-index: 10;
}
.navbar-light .navbar-brand,
.navbar-light .navbar-brand:visited,
.navbar-light .navbar-brand:hover
{
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:visited,
.navbar-light .navbar-nav .nav-link:focus
{
    color: #fff;
}
.navbar-toggler
{
	background: #fff;
	border-radius: 0;
}

#carouselExampleIndicators
{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
.banner-text
{
	position: absolute;
	margin-top: 630px;
  	margin-left: 50px;
	padding: 30px;
	background: #fff;
	z-index: 10;
	
}
.banner-text h2
{
	margin: 0;
	padding: 0;
	font-weight: 800;
	font-size: 2.8em;
}
.banner-text a.btnD1
{
	position: absolute;
	right: 40px;
	padding: 10px 30px;
	color: #fff;
	background: #0f9afa;
	border-radius: 0;
	text-transform: uppercase;
}
.carousel-indicators
{
	margin-bottom: 2rem;
}
.carousel-indicators li
{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: transparent;
	border: 2px solid #fff;
	opacity: 1;
}
.carousel-indicators li.active
{
	background: #fff;
}
.carousel-inner{
	width: 100%;
	height : 100%;
}

.carousel-item{ 
	width: 100%;
	height : 100%;
}

.carousel-item .w-100
{
	width: 100% !important;
	height: 100% !important;
}
.sci
{
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	margin: 0;
	padding: 0;
	z-index: 10;
}
.sci li
{
	background: #fff;
	padding: 15px;
	list-style: none;
	border-bottom: 1px solid rgba(0,0,0,.1);
}
.sci li:last-child
{
	border-bottom: none;
}
.sci li:hover
{
	background: #000;
}
.sci li:hover img
{
	filter: invert(1);
}
@media (min-width: 992px)
{
	.navbar-expand-lg .navbar-nav .nav-link {
	    padding-right: 0;
	    padding-left: 0;
	    margin-right: 1.2rem;
	    margin-left: 1.2rem;
	}
	.nav-item.active a
	{
		border-bottom: 2px solid #fff;
	}
}
@media (max-width: 991px)
{
	header
	{
		position: fixed;
		width: 100%;
		z-index: 100;
		background: #000 !important;
	}
	header .bg-light
	{
		padding: .5rem 0;
	}
	.banner-text
	{
		padding: 20px;
		margin: 36vh 50px 0 0;
	}
}


.imsi-container{/* 테이블 */
	vertical-align: middle;
	position:absolute;
	height : 0%;
	margin:0;
	padding:0;
	left:7%;
	
	
	width : 1280px;
	top : -5%;
	

	background-color: rgba(0, 0, 0,0.4);
}

.col-xl-12
{
	margin-top: 50%;
}


.pricing-table {
	vertical-align: middle;
    max-width: 1280px;
    margin: 0 auto;
    transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    border-radius: 0px;
}
.pricing-table:hover {
    box-shadow: 0px 0px 30px rgba(0,0,0, .2);
}
.pricing-table:hover>.panel-footer-landing {
    box-shadow: 0px 0px 30px rgba(0,0,0, .05) inset;
    -webkit-transition:  all .3s ease;
}
.pricing-table:hover>.panel>.panel-body-landing {
    background: rgb(45, 50, 70);
    -webkit-transition:  all .3s ease;
}
.pricing-table:hover>.panel>.panel-heading-landing-box {
    background: #f0f0f0 !important;
    color: #333 !important;
    -webkit-transition:  all .3s ease;
}
.pricing-table:hover>.panel>.controle-header {
    background: rgb(45, 50, 70) !important;
    /*    border: solid 2px rgb(45, 50, 70) !important;*/
    -webkit-transition:  all .3s ease;
}
.pricing-table:hover>.panel>.panel-footer {
    background: rgb(45, 50, 70) !important;
    /*    border: solid 2px rgb(45, 50, 70) !important;*/
    -webkit-transition:  all .3s ease;
}
.pricing-table:hover>.panel>.panel-footer>.btn {
    border: solid 1px #fff !important;
    -webkit-transition:  all .3s ease;
}
.btn-price:hover {
    background: #fff !important;
    color: rgb(45, 50, 70) !important;
    -webkit-transition:  all .3s ease;
}
.pricing-table:hover>.panel>.controle-header>.panel-title-landing {
    color: #fff !important;
    -webkit-transition:  all .3s ease;
}
.pricing-table:hover>.panel>.panel-body-landing>.table>tbody>tr>.flightway
{
	 color: #fff !important;
	 -webkit-transition:  all .3s ease;
}
.pricing-table:hover>.panel>.panel-body-landing>.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    color: rgb(45, 50, 70) !important;
    -webkit-transition:  all .3s ease;
}
.panel-heading-landing {
    background: #f7f7f7 !important; 
    /* padding: 20px !important;  */
    border: none; 
    border-bottom: none !important;
}
.panel-heading-landing-box {
    background: rgb(45, 50, 70) !important; 
    color: #fff !important; 
    font-size: 16px !important; 
    padding: 3px !important; 
    border: none !important; 
    border-top: none !important;
}
.panel-title-landing {
    color: #626367 !important;
    font-size: 25px;
    font-weight: bold;
}
.panel-body-landing {
    border: none !important;
}
.panel-footer-landing { 
    border-bottom-left-radius: none !important; 
    border-bottom-right-radius: none !important; 
    border-top: none !important;
}

.modal{
	position: absolute !important;
	height : 100%;
	width : 100%;
	top:0%;
	bottom : 0;
	left : 15%;
	right : 0;
	margin:0;
	padding : 0;
	
}



@media (min-width: 576px){}
.modal-sm {
	
	max-width: 500px;
	
    }

.modal-body{
	text-align: center;
}
.modal-dialog{
	position : absolute !important;
	top:0%;
	bottom : 0;
	left : 0;
	right : 0;
	margin:0;
	padding : 0;
	margin-top: 250px;
	margin-left: 400px;

	
}



.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}







*{
  margin:0;
  padding:0;
}

body{
  background:#ffffff;
}
/*
Width of image : 500;
Width of hovered image: 500
Width of unhovered image: 25x;
Width of container : 500 + 50*4 = 700px;
Default 700/5 : 140px;
*/

.accordian{
  width: 1000px;
  height: 333px;
  overflow:hidden;
  
  margin: 200px auto;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0px 8px 6px -6px black;
}
.accordian ul{
  
}
.accordian li{
  position: relative;
  display:block;
  width:140px;
  float: left;
  
  border-left: 1px solid #888;
  -webkit-box-shadow: 0 0 25px 10px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 25px 10px rgba(0,0,0,0.5);
  
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}


.accordian ul:hover li{
  width: 100px;
}

.accordian ul li:hover{
  width:500px;
}

.accordian li img{
  display: block;
}

.image_title{
  background: rgba(0,0,0,0.5);
  position:absolute;
  left:0;
  bottom:0;
  width:500px;
}

.image_title a{
  display: block;
  color: #fff;
  text-decoration: none;
  padding:20px;
  font-size:16px;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

#gonggi2 {
	width: 400px;
	float: left;
	height: 100px;
	margin-top: 200px;
	margin-left: 80px;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 0px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}

ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 0px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.btn-success{
	background: rgb(45, 50, 70) !important;
	border-color: rgb(45, 50, 70) !important;
}

.navbar {
	background-color:rgba(45, 50, 70,0.9);
	margin : 0;
}


.flightway:checked {
	border-color: #0770e3;
	border-color: var
}



/* input[type='radio'],
input[type='radio']:checked {
	apperance: none;
	width: 5rem;라디오 버튼 크기
	height: 5rem;
	border-radius: 100%;
	margin-right: 0.5rem;
}
input[type='radio'] {
	background-color: violet;
	border: 2px solid violet;
}
input[type='radio']:checked {
	background-color: violet;
} */


input[type=radio]{
            background-color: #FFFF;
            -webkit-appearance: none;
            -moz-appearance: none;
            margin-left: 30px;
            margin: 4px 5px 0;
            border: 5px solid rgb(216, 216, 216);
            width: 20px;
            height: 20px;
            border-radius: 100%;
        }
        input[type=radio]:checked{
            background-color: #FFFF;
            -webkit-appearance: none;
            -moz-appearance: none;
            margin-left: 30px;
            margin: 4px 5px 0;
            border: 5px solid #007bff;
            width: 20px;
            height: 20px;
            border-radius: 100%;
        }

input[type="radio"] + label {
    display:inline-block;
    margin:-px;
    padding:8px 19px;
    background-color:#f5f5f5;
    border:1px solid #ccc;
    font-size:13px !important;
    color:#000;
    font-family:Arial, sans-serif;

}



.BpkRadio_bpk-radio__input__1kjm0:checked {
    border-color: #0770e3;
    border-color: var(--bpk-radio-checked-color,#0770e3);
}
.BpkRadio_bpk-radio__input__1kjm0 {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin: 0;
    padding: 0;
    cursor: pointer;
    vertical-align: text-bottom;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 3px solid #8f90a0;
    border-radius: 1.125rem;
}
.BpkRadio_bpk-radio__input__1kjm0:checked+.BpkRadio_bpk-radio__circle__2Vq8v {
    display: block;
}


.BpkRadio_bpk-radio__circle__2Vq8v {
    position: absolute;
    top: .375rem;
    left: .375rem;
    display: none;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background: #0770e3;
    background: var(--bpk-radio-checked-color,#0770e3);
}
.promotionD {
    position: relative;
    margin-top: 20px;
    padding-top: 95px;
}
.inner {
    position: relative;
    margin: 0 auto;
    width: 1280px;
}
.textMotionD {
    position: relative;
    z-index: 2;
}
.promotionD .textMotionD .line {
    /* top: 105px; */
    left: 580px;
}
.textMotionD .line {
    position: absolute;
    width: 0;
    height: 3px;
    background: #000;
    transition: width 0.5s cubic-bezier(.55,0,.1,1) 0.9s, opacity 0.5s cubic-bezier(.55,0,.1,1) 0.3s;
}
.textMotionD .textD {
    position: relative;
    display: inline-block;
    padding-right: 40px;
    overflow: hidden;
}

.textMotionD .textD p {
    display: inline-block;
    font-size: 48px;
    line-height: 56px;
    color: #000;
    text-align: left;
  
    letter-spacing: -3px;
}
.viewMore {
    position: absolute;
    top: 65px;
    right: 0;
}
.topD {
    margin-top: 50px;
    position: relative;
    padding-bottom: 64px;
}
.imgResize img {
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottomD {
    
    width: 100%;
   /*  height: 730px; */
    position: relative;
    padding-bottom: 64px;
}
.proSwiper {
    margin: 50px auto 0;
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    position: relative;
    text-align: center;
}
.swiper-button-prev {
	top: 40px;
	left: 10px;
	margin-top: 160px;
	width: 26px;
	height: 9px;
	
}
.swiper-button-next {
    top: 40px;
    right: 10px;
    margin-top: 160px;
    width: 26px;
    height: 9px;
}

.visualD { 
	float:left;
	width:1280px;
	height:540px;
	margin-right: 20px;
}
.visualD .list{
	float:left;
	width:305px;
	height:420px;
	position:relative;
	display:block;
	z-index:2;
	border-radius:2px;
	overflow:hidden;
	margin-right: 15px;
}
.visualD a {
	width:100%;
	height:158px;
	display:block;
	transition:all .3s ease-out!important;
	-webkit-transition:all .3s ease-out!important;
	-moz-transition:all .3s ease-out!important;
	-o-transition:all .3s ease-out!important;
}
.visualD a:hover {
	-webkit-transform:scale(1.1) rotate(-1.5deg)!important;
	-moz-transform:scale(1.1) rotate(-1.5deg)!important;
	transform:scale(1.1) rotate(-1.5deg)!important;
	transition:all .3s ease-out!important;
	-webkit-transition:all .3s ease-out!important;
	-moz-transition:all .3s ease-out!important;
	-o-transition:all .3s ease-out!important;
}

/* .visualD {
    position: relative;
    width: 1280px;
    height: 540px;
} */

/* .visualD .list {
    position: relative;
    float: left;
    width: 305px;
    height: 420px;
    margin-right: 15px;
} */